<ion-view view-title="CITY LIFE">
	<ion-content>
		<div class="list">
			<a href="#/app/cityguide" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-book-outline"></i>
				City Guide
			</a>
			
			<a href="#/app/weather" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-sunny-outline"></i>
				Weather
			</a>
			
			<a href="#/app/map" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-location-outline"></i>
				Map
			</a>
			
			<a href="#/app/information" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-information-outline"></i>
				Information
			</a>
			
			<a href="#/app/speakfrench" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-chatbubble-outline"></i>
				Do you speak french?
			</a>
		</div>
	</ion-content>
</ion-view>
