<ion-view view-title="San Martin">
    <ion-content>

        <div class="padding letterspacing bigfont ">Estimado Vecino,</div>

        <div class="citylife-head-bg sanmartin-combination-text"><p class="city-title-big">Gabriel<span class="">Katopodis</span></p></div>

        <div class="padding letterspacing sanmartin-combination-text">
		<p>
		Gabriel Katopodis es vecino de San Martin, abogado, docente, casado y padre de 2 hijos. Realizo estudios de Postgrado en Gestion Publica en la Facultad Latinoamericana de Ciencias Sociales (FLACSO) y en la maestria de administracion publica en la Universidad de Ciencias Economicas (UBA).
		</p>
		<bR>		<bR>
		<p>
		Entre 2003 y 2005 se desempeno como funcionario del <span>Ministerio de Desarrollo Social de la Nacion</span> y como Gerente General del <span>Fondo de Capital Social (FONCAP)</span>. Desde 2005 hasta 2008 fue Subsecretario del <span>Ministerio de Desarrollo Social</span> de la Provincia de Buenos Aires. El 10 de diciembre de 2011 asumio como <span>Intendente de San Martin</span>, cargo que actualmente desempena. 
		</p>
		<bR>
		<p>
		Fue reelecto en su cargo, en las<span> elecciones generales del ano 2015</span>. 
		</p>
		<bR>		<bR>
		<p><span>
		Contacto 
				<bR>
		gkatopodis@sanmartin.gov.ar 
		<bR>
		4830-0330/0332/0333
		</span>		</p>


	<!--   	
		
            <p class="justify"><strong class="bigfont">T</strong>he city is situated on the French Riviera, on the Mediterranean Sea coastline. This ancient fishing harbor gained an international recognition in 1946, with the creation of the Cannes Film Festival, an international film festival. Each year the event is hosted in the Palais des Festivals and becomes for a few days the beating heart of the cinema industry. The city is often associated with the glamorous image of movie stars and luxury brands.</p>
            <p class="justify">This City Guide will allow you to get around easier and discover the many wonders of this cinematic city.</p>
            <p>Enjoy !</p>

         <h4>VISITING CANNES:</h4>

            <ion-list>
                <ion-item id="{{poi.id}}" class="item item-icon-left item-wrap" href="#/app/map/{{poi.id}}" ng-repeat="poi in pois.cityGuide">
                    <i class="icon ion-ios-location-outline"></i>
                    <h2>{{poi.name}}</h2>
                    <p ng-show="{{poi.description != undefined}}" ng-bind-html="poi.description"></p>
                </ion-item>
            </ion-list>
-->			
			
        </div>

    </ion-content>
</ion-view>
