<ion-view view-title="Inscripcion">
	<ion-content>
	<div class="page-intro center padding sanmartin-combination-black-text">
			<div class="icon-circle " style ="       border-radius: 50%;    width: 120px !important;    height: 70px;"><img src="img/logo.png" alt="program" style="    width: 50%;     margin: 18px !important;"/></div>
			<div class="program-tittle-bg" style ="width: 250px !important;" >
				<p>Cupo Disponible
				<Span> Ingrese sus datos para comenzar el proceso de inscripcion</Span></p>
			</div>
		</div>
		
		<div class="list card feedback-card">
			<div class="item item-body center">
				<h2><strong>seleccione Curso</strong></h2>
				<input  style="width: 100% !important;    border-radius: 8px;    margin-top: 10px;"   type="text" />
			</div>
			<div class="item item-body center">
				<h2><strong>Nombre Completo</strong></h2>
				<input  style="width: 100% !important;    border-radius: 8px;    margin-top: 10px;"   type="text" />
			</div>
	
			<div class="item item-body center">
				<h2><strong>Direccion de correo</strong></h2>
				<input  style="width: 100% !important;    border-radius: 8px;    margin-top: 10px;"   type="text" />
			</div>
			<div class="item item-body center">
				<h2><strong>Telefono de contacto</strong></h2>
				<input  style="width: 100% !important;    border-radius: 8px;    margin-top: 10px;"   type="text" />
			</div>
		</div>
		
		<div class="padding" >
			<button type="submit" class="button button-outline button-light button-block">Inscribirme</button>
		</div>
	</div>		
	</ion-content>
</ion-view>
