<ion-view view-title="FOTOS & VIDEOS">

	<ion-content scroll="false">
		<ion-tabs class="tabs-dark">


		
		
			<ion-tab title="Fotos" on-select="onTabSelected('Photos')">
				<ion-content class="padding">
					<div class="columns medium-12">
						<span></span>
						<p><a href="http://www.sanmartin.gov.ar/uploads/1453990538-agenda-febrero.pdf" target="_blank">
							<img src="/img/agenda-verano-descarga1.jpg"  width="100%"  alt=""></a>
						</p>
					</div>
				</ion-content>
			</ion-tab>

		
			<ion-tab title="Descargas" on-select="onTabSelected('Videos')">
				<ion-content class="padding">
					<div class="columns medium-12">
						<p></p>
						<p><a href="http://www.sanmartin.gov.ar/uploads/1453990538-agenda-febrero.pdf" target="_blank">
							<img src="/img/agenda-verano-descarga1.jpg"  width="100%" alt=""></a>
						</p>
					</div>
				</ion-content>
			</ion-tab>

		</ion-tabs>
	</ion-content>
</ion-view>