<ion-view view-title="AGENDA CULTURAL">
	<ion-content>
		<div class="page-intro center padding sanmartin-combination-black-text">
			<div class="icon-circle"><img src="img/ico-cultura2.png" alt="program" /></div>
			<div class="program-tittle-bg">
				<p>Sigamos cambiando
				<br /><Span>SAN MARTIN</Span></p>
			</div>
		</div>

		<!------------------------------------------------------------ //-->

		<div class="program-day1-bg ext-link" ng-click="toggleProgram(1)" id="bt-program-day1">
			<span class="program-title-big">MUSICA</span> en vivo <sup>mSM</sup>
			<i class="icon ion-chevron-down push-right"></i>
		</div>

		<div id="program-day1" class="displaynone">
		
			<div class="displaytable marginauto padding-bottom">
				<div class="displaycell mediumicon center center"><div class="medium-circle-disc">ENE<br/>16</div></div>
				<div class="program-circlespacing bigfont"><strong>&</strong></div>
				<div class="displaycell mediumicon center"><div class="medium-circle-disc">ENE<span><br />24</div></div>
				<div class="program-circlespacing bigfont"><strong>&</strong></div>
				<div class="displaycell mediumicon center"><div class="medium-circle-disc">ENE<span><br />29</div></div>
			</div>
            <div class="displaytable programhoribar morningbackground"></div>
            <div class="displaytable border-bottom padding margin">
                <div class="displaycell vmiddle bigfont letterspacing padding-left center">
					&bull; <span class="program-masterclass"><strong>LAS PELOTAS </strong><br /><p class="fecha">Sabado 16 de Enero 18:30</p><p class="lugar">Parque Yrigoyen </p><br /><br /></span>
					&bull; <span class="program-masterclass"><strong>MISS BOLIVIA </strong><br /><p class="fecha">Domingo 24 de Enero 18:30</p><p class="lugar">Plaza Mitre</p><br /><br /></span>
					&bull; <span class="program-masterclass"><strong>JUANSE </strong><br /><p class="fecha">Viernes 29 de Enero 18:30</p><p class="lugar">Peatonal Belgrano </p><br /><br /></span>
				</div>
			</div>
		
			<div class="displaytable border-bottom padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">6</span>
						<br />18:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass"><strong>Orquesta Juvenil Municipal</strong>
					<br /><p></p>
					<p class="lugar">Peatonal Belgrano</p></div>
			</div>
			<div class="displaytable border-bottom padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">10</span>
						<br />18:<span class="program-circle-minute">30</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>Deep Sky</strong>
					<br /> <p>Ensamble de alumnos de la Escuela Municipal de Musica</p>
					<p class="lugar">Plaza Mitre</p>
				</div>
			</div>
			<div class="displaytable border-bottom padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">18</span>
						<br />19:<span class="program-circle-minute">25</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>Pampa Yakuza &bull; Hoy Somos Duendes</strong>
					<br /> <p>Cultura Rock</p>
					<p class="lugar">Auditorio Hugo del Carril</p>
				</div>
			</div>
			<div class="displaytable padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">27</span>
						<br />20:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>Cantautores</strong>
					<br /> <p>Con Leandro Segovia y Mujeres Cantoras 2</p>
					<p class="lugar">Plaza Kennedy</p>
				</div>				
			</div>
		</div>

		<!------------------------------------------------------------ //-->

		<div class="program-day2-bg ext-link" ng-click="toggleProgram(2)" id="bt-program-day2"><span class="program-title-big">TEATRO</span> <sup>mSM</sup>
			<i class="icon ion-chevron-down push-right"></i>
		</div>


		<div id="program-day2" class="displaynone">

			<div class="displaytable border-bottom padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">15</span>
						<br />18:<span class="program-circle-minute">25</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>Teatro de Sombras</strong>
					<br /> <p>Alicia, en sueño de Maravilla</p>
					<p class="lugar">Plaza Solis</p>
				</div>
			</div>
			<div class="displaytable padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">21</span>
						<br />19:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>El Janle</strong>
					<br /> <p>Version Gauchesca de Hamlet</p>
					<p class="lugar">Museo José Hernandez</p>
				</div>				
			</div>
			<div class="displaytable padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">31</span>
						<br />20:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>Cuento con vos</strong>
					<br /> <p></p>
					<p class="lugar">Rotonda de Villa Ballester</p>
				</div>				
			</div>

		</div>

		<!------------------------------------------------------------ //-->

        <div class="program-day3-bg ext-link" ng-click="toggleProgram(3)" id="bt-program-day3"><span class="program-title-big">CINE</span> Luz Camara accion <sup>mSM</sup>
			<i class="icon ion-chevron-down push-right"></i>
		</div>

		<div id="program-day3" class="displaynone">
           <div class="displaytable border-bottom padding margin">
                <div class="displaycell vmiddle bigfont letterspacing padding-left center">
					&bull; <span class="program-masterclass"><strong>BIRDMAN </strong><br /><p class="fecha">Martes 18 de Enero 18:30</p><p class="lugar">Museo casa Carnacini</p><br /><br /></span>
					&bull; <span class="program-masterclass"><strong>El Gran Hotel Budapest </strong><br /><p class="fecha">Domingo 24 de Enero 18:30</p><p class="lugar">Museo casa Carnacini</p><br /><br /></span>
					&bull; <span class="program-masterclass"><strong>Cine bajo las estrellas </strong><br /><p class="fecha">Viernes 29 de Enero 18:30</p><p class="lugar">Museo Rosas </p><br /><br /></span>
				</div>
			</div>
            <div class="displaytable programhoribar morningbackground"></div>

			<div class="displaytable border-bottom padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">15</span>
						<br />18:<span class="program-circle-minute">25</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>Cine en la Plaza</strong>
					<br /> <p></p>
					<p class="lugar">Estacion Cultural Cefiro</p>
				</div>
			</div>
			<div class="displaytable padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">ENE <span class="program-circle-minute">21</span>
						<br />19:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left program-subclass">
					<strong>El Libro de la vida</strong>
					<br /> <p></p>
					<p class="lugar">Museo Jose Hernandez</p>
				</div>				
			</div>

        </div>

		
		
	</ion-content>
</ion-view>
