<ion-view view-title="San Martin">
	<ion-content>
		<div class="list">
			<a href="#/app/cityguide" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-book-outline"></i>
				Conoce San Martin
			</a>
			<a href="#/app/cityguide" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-book-outline"></i>
				Gabriel Katopodis
			</a>
			<a href="#/app/cityguide" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-book-outline"></i>
				Unidad Intendente
			</a>
			<a href="#/app/map" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-location-outline"></i>
				Mapa
			</a>
			<a href="#/app/information" class="item item-icon-left item-icon-left-pastille">
				<i class="icon icon-pastille ion-ios-information-outline"></i>
				Informacion
			</a>
		</div>
	</ion-content>
</ion-view>
